@import "tailwindcss";

@theme {
  --color-background: #0B1120;
  --color-foreground: #ededed;

  /* Definisi Animasi Custom untuk v4 */
  --animate-gradient-x: gradient-x 3s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}

/* Setting Default */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Utility Custom jika diperlukan */
@utility text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-indigo-400 to-cyan-400;
}